.container-wrapper{
    border: 10px solid black;
    padding: 1rem 1rem; 
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);   
}

.naoGov h1{
    font-size: 16px;
}

.siteGov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favicon{
    width: 20%;
    height: auto;
}

.cadastro{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: column; 
}

.cadastro h1{
  margin-top: 0px;
  margin-bottom: 20px;
}
.textoBase{
    font-size: 16px;
}

.html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.botao {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.botao:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.botao:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.botao:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.botaoCad {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.botaoCad:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.botaoCad:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.botaoCad:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.formulario {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50px;
  padding-bottom: 10px;
}

input{
  width: 100%;
  height: 21px;
  border-radius: 0;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  border-bottom: 2px solid #00C853;
  padding-right: 0;
  margin-bottom: 5px;
  letter-spacing: 1px;
  border-radius: 3px;
  text-align: start;
  /* padding-left: 50%; */
}